* {
    box-sizing: border-box;
}

table, th, td {
    border: 1px solid rgb(236, 105, 105);
    border-collapse: collapse;
}

th:nth-child(even),td:nth-child(even) {
  background-color: #D6EEEE;
}

table {
    width: 100%;
}